header {
    .navigation-bar {
        background-color: #fff;
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;

        .container {
            padding: 0 50px;
            width: 100%;

            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {
                    width: 10%;
                    height: 80px;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                nav {
                    width: 44%;

                    .nav-list {
                        display: flex;
                        justify-content: space-between;

                        .nav-list-item {
                            position: relative;
                            height: 100px;
                            align-items: center;
                            display: flex;
                            cursor: pointer;

                            .nav-link {
                                @include text($text-color, 12px, 400, 23px, $text-font);
                                text-transform: uppercase;
                                letter-spacing: .2em;
                                transition: .3s;

                                &:hover {
                                    border-bottom: 2px solid $text-color;
                                }

                            }

                            .active {
                                border-bottom: 2px solid $text-color;
                            }

                            .drop {
                                position: absolute;
                                padding: 23px;
                                background-color: $text-color;
                                width: 240px;
                                display: none;
                                top: 95px;
                                transition: .5s;
                                z-index: 999;

                                li {
                                    &:not(:first-child) {
                                        margin-top: 10px;
                                    }

                                    a {
                                        color: $text-light-color;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 20px;
                                        text-transform: capitalize;
                                        font-family: $text-light-font;
                                        letter-spacing: 2px;
                                    }
                                }
                            }
                        }

                        .pages {
                            &:hover {
                                .pages-list {
                                    display: block;
                                }
                            }
                        }

                        .shop {
                            &:hover {
                                .shop-list {
                                    display: block;

                                }
                            }
                        }

                        .contact {
                            &:hover {
                                .contact-list {
                                    display: block;

                                }
                            }
                        }
                    }
                }

                .nav-social-list {
                    width: 12%;
                    display: flex;
                    justify-content: space-between;

                    .nav-social-list-item {
                        position: relative;

                        .list-item-icons {
                            height: 100px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $text-color;
                            font-family: $text-font;
                            text-transform: uppercase;
                            cursor: pointer;
                            font-size: 22px;
                            line-height: 23px;
                            letter-spacing: .2em;
                        }

                        .shop,
                        .wish {
                            position: absolute;
                            left: 22px;
                            top: 50px;
                        }

                        .phone {
                            display: none;
                        }

                        // search open start 
                        .search-open{
                            position: absolute;
                            padding: 40px 50px;
                            background-color: $text-light-color;
                            width: 100%;
                            height: 90px;
                            display: none;
                            top: 95px;
                            right: 0px;
                            transition: .5s;
                            z-index: 999;
                        }
                        // search open end 
                        // shopping bag start 
                        .drop-bag {
                            position: absolute;
                            padding: 40px;
                            background-color: $text-color;
                            width: 300px;
                            height: auto;
                            display: none;
                            top: 95px;
                            right: 0px;
                            transition: .5s;
                            z-index: 999;

                            p {
                                color: #cfcfcf;
                                font-family: $text-light-font;
                                font-size: 17px;
                                font-weight: 500;
                                line-height: 23px;
                                display: none;
                            }

                            .shopping-bag-list {
                                .shopping-bag-list-item {
                                    &:not(:first-child) {
                                        margin-top: 10px;
                                    }

                                    .shopping-bag-link {
                                        width: 100%;
                                        @include centHV(flex-start, space-between);

                                        figure {
                                            width: 30%;

                                            img {
                                                width: 100%;
                                            }
                                        }

                                        .bag-text {
                                            text-align: left;
                                            width: 60%;
                                            position: relative;

                                            i {
                                                font-size: 22px;
                                                color: #cfcfcf;
                                                position: absolute;
                                                top: 0;
                                                right: 0;
                                            }

                                            h3 {
                                                margin-top: 5px;
                                                text-align: left;
                                                color: #cfcfcf;
                                                font-style: italic;
                                                font-size: 22px;
                                                font-family: $text-light-font;
                                                font-weight: 400
                                            }

                                            .product-price {
                                                @include centHV(center, start);

                                                p {
                                                    color: #cfcfcf;
                                                    font-style: italic;
                                                    font-size: 22px;
                                                    font-family: $text-light-font;

                                                }

                                                span {
                                                    margin: 0 4px;
                                                    color: #cfcfcf;
                                                    font-style: italic;
                                                    font-size: 22px;
                                                    font-family: $text-light-font;
                                                }
                                            }
                                        }
                                    }
                                }

                            }

                            .only-price {
                                @include centHV(center, space-between);
                                margin-top: 18px;

                                h4 {
                                    color: #cfcfcf;
                                    font-weight: 400;
                                    font-family: $text-font;
                                    font-size: 12px;
                                    letter-spacing: .075em;
                                    text-transform: uppercase;
                                }

                                p {
                                    color: #cfcfcf;
                                    font-style: italic;
                                    font-size: 22px;
                                    font-family: $text-light-color;
                                    font-weight: 500;
                                    line-height: 23px;
                                    font-family: $text-light-font;
                                }
                            }

                            .bag-buttons {
                                margin-top: 15px;
                                @include centHV(center, space-between);

                                a {
                                    border: 1px solid $white;
                                    padding: 10px 18px;
                                    font-size: 8px;
                                    font-family: $text-font;
                                    letter-spacing: .2em;
                                    color: $white;
                                    background-color: $text-color;
                                    line-height: 2em;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                    transition: .3s;

                                    &:hover {
                                        background-color: $white;
                                        color: $text-color;
                                    }
                                }
                            }
                        }

                        // shopping bag end 

                        // burger open start
                        .burger-open {
                            height: 100vh;
                            background-color: $text-color;
                            width: 520px;
                            position: absolute;
                            z-index: 999;
                            top: 0px;
                            right: 0px;
                            overflow: hidden;
                            position: fixed;
                            visibility: hidden;
                            
                            .for-close {
                                padding: 160px 60px 60px 80px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                position: relative;

                                .close {
                                    color: #c1c1c1;
                                    font-size: 50px;
                                    position: absolute;
                                    top: 7%;
                                    right: 7%;
                                    cursor: pointer;
                                }

                                .logo-cmnt {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    .resp-logo-figure {
                                        width: 185px;
                                        height: auto;

                                        img {
                                            width: 100%;
                                        }
                                    }

                                    p {
                                        font-size: 22px;
                                        text-align: center;
                                        color: #c1c1c1;
                                        line-height: 1.136em;
                                        letter-spacing: 0px;
                                        font-weight: 400;
                                        font-style: italic;
                                        font-family: $text-light-font;
                                        margin-top: 15px;

                                    }

                                    .resp-social-icons {
                                        margin-top: 40px;

                                        .resp-social-list {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;

                                            .resp-social-list-item {
                                                a {
                                                    i {
                                                        width: 35px;
                                                        height: 35px;
                                                        font-size: 17px;
                                                        transition: color .2s ease-in-out, border-color .2s ease-in-out;
                                                        color: #d7d7d7;
                                                        border: 1px solid #5f5f5f;
                                                        padding: 10px;
                                                        font-weight: 500;

                                                        &:hover {
                                                            border-color: #d7d7d7;
                                                        }

                                                    }
                                                }

                                                &:not(:first-child) {
                                                    margin-left: 10px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .collections {
                                    text-align: center;
                                    margin-top: 60px;

                                    .collections-list {
                                        color: $white;
                                        font-family: $text-font;
                                        font-size: 17px;
                                        line-height: 1.353em;
                                        letter-spacing: .075em;
                                        font-weight: 400;

                                        .collections-list-item {
                                            &:nth-child(1) {
                                                margin-top: 10px;

                                            }

                                            &:not(:first-child) {
                                                margin-top: 10px;
                                            }

                                            a {
                                                color: $color-ca;
                                                font-weight: 500;
                                                line-height: 23px;
                                                font-family: $text-light-font;
                                                font-style: italic;
                                                color: #bfbfbf;
                                                font-size: 18px;
                                                transition: .3s;

                                                &:hover {
                                                    color: $white;
                                                }
                                            }
                                        }
                                    }


                                }
                            }


                        }
                        .burger-show{
                            visibility: visible;
                        }

                        // burger open end 

                    }

                    .bag {
                        &:hover .drop-bag {
                            display: block;
                        }
                    }

                }
            }
        }
    }
    .navigation-bar-scroll{
        background-color: $text-color;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        position: fixed;
        top: -400px;
        z-index: 1000;
        transition: .4s;
        // display: none;

        .container {
            padding: 0 50px;
            width: 100%;

            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {
                    width: 6%;
                    height: 80px;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                nav {
                    width: 44%;

                    .nav-list {
                        display: flex;
                        justify-content: space-between;

                        .nav-list-item {
                            position: relative;
                            height: 100px;
                            align-items: center;
                            display: flex;
                            cursor: pointer;

                            .nav-link {
                                @include text($text-light-color, 12px, 400, 23px, $text-font);
                                text-transform: uppercase;
                                letter-spacing: .2em;
                                transition: .3s;

                                &:hover {
                                    border-bottom: 2px solid $text-light-color;
                                }

                            }

                            .active {
                                border-bottom: 2px solid $text-light-color;
                            }

                            .drop {
                                position: absolute;
                                padding: 23px;
                                background-color: $text-color;
                                width: 240px;
                                display: none;
                                top: 65px;
                                transition: .5s;
                                z-index: 999;

                                li {
                                    &:not(:first-child) {
                                        margin-top: 10px;
                                    }

                                    a {
                                        color: $text-light-color;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 20px;
                                        text-transform: capitalize;
                                        font-family: $text-light-font;
                                        letter-spacing: 2px;
                                    }
                                }
                            }
                        }

                        .pages {
                            &:hover {
                                .pages-list {
                                    display: block;
                                }
                            }
                        }

                        .shop {
                            &:hover {
                                .shop-list {
                                    display: block;

                                }
                            }
                        }

                        .contact {
                            &:hover {
                                .contact-list {
                                    display: block;

                                }
                            }
                        }
                    }
                }

                .nav-social-list {
                    width: 12%;
                    display: flex;
                    justify-content: space-between;

                    .nav-social-list-item {
                        position: relative;

                        .list-item-icons {
                            height: 100px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $text-light-color;
                            font-family: $text-light-color;
                            text-transform: uppercase;
                            cursor: pointer;
                            font-size: 22px;
                            line-height: 23px;
                            letter-spacing: .2em;
                        }

                        .shop,
                        .wish {
                            position: absolute;
                            left: 22px;
                            top: 50px;
                            color: $white;
                            font-family: $text-font;
                        }

                        .phone {
                            display: none;
                        }

                        // shopping bag start 
                        .drop-bag {
                            position: absolute;
                            padding: 40px;
                            background-color: $text-color;
                            width: 300px;
                            height: auto;
                            display: none;
                            top: 65px;
                            right: 0px;
                            transition: .5s;
                            z-index: 999;

                            p {
                                color: #cfcfcf;
                                font-family: $text-light-font;
                                font-size: 17px;
                                font-weight: 500;
                                line-height: 23px;
                                display: none;
                            }

                            .shopping-bag-list {
                                .shopping-bag-list-item {
                                    &:not(:first-child) {
                                        margin-top: 10px;
                                    }

                                    .shopping-bag-link {
                                        width: 100%;
                                        @include centHV(flex-start, space-between);

                                        figure {
                                            width: 30%;

                                            img {
                                                width: 100%;
                                            }
                                        }

                                        .bag-text {
                                            text-align: left;
                                            width: 60%;
                                            position: relative;

                                            i {
                                                font-size: 22px;
                                                color: #cfcfcf;
                                                position: absolute;
                                                top: 0;
                                                right: 0;
                                            }

                                            h3 {
                                                margin-top: 5px;
                                                text-align: left;
                                                color: #cfcfcf;
                                                font-style: italic;
                                                font-size: 22px;
                                                font-family: $text-light-font;
                                                font-weight: 400
                                            }

                                            .product-price {
                                                @include centHV(center, start);

                                                p {
                                                    color: #cfcfcf;
                                                    font-style: italic;
                                                    font-size: 22px;
                                                    font-family: $text-light-font;

                                                }

                                                span {
                                                    margin: 0 4px;
                                                    color: #cfcfcf;
                                                    font-style: italic;
                                                    font-size: 22px;
                                                    font-family: $text-light-font;
                                                }
                                            }
                                        }
                                    }
                                }

                            }

                            .only-price {
                                @include centHV(center, space-between);
                                margin-top: 18px;

                                h4 {
                                    color: #cfcfcf;
                                    font-weight: 400;
                                    font-family: $text-font;
                                    font-size: 12px;
                                    letter-spacing: .075em;
                                    text-transform: uppercase;
                                }

                                p {
                                    color: #cfcfcf;
                                    font-style: italic;
                                    font-size: 22px;
                                    font-family: $text-light-color;
                                    font-weight: 500;
                                    line-height: 23px;
                                    font-family: $text-light-font;
                                }
                            }

                            .bag-buttons {
                                margin-top: 15px;
                                @include centHV(center, space-between);

                                a {
                                    border: 1px solid $white;
                                    padding: 10px 18px;
                                    font-size: 8px;
                                    font-family: $text-font;
                                    letter-spacing: .2em;
                                    color: $white;
                                    background-color: $text-color;
                                    line-height: 2em;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                    transition: .3s;

                                    &:hover {
                                        background-color: $white;
                                        color: $text-color;
                                    }
                                }
                            }
                        }

                        // shopping bag end 

                        // burger open start
                        .burger-open {
                            height: 100vh;
                            background-color: $text-color;
                            width: 520px;
                            position: absolute;
                            z-index: 999;
                            top: 0px;
                            right: 0px;
                            overflow: hidden;
                            position: fixed;
                            visibility: hidden;
                            
                            .for-close {
                                padding: 160px 60px 60px 80px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                position: relative;

                                .close {
                                    color: #c1c1c1;
                                    font-size: 50px;
                                    position: absolute;
                                    top: 7%;
                                    right: 7%;
                                }

                                .logo-cmnt {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    .resp-logo-figure {
                                        width: 185px;
                                        height: auto;

                                        img {
                                            width: 100%;
                                        }
                                    }

                                    p {
                                        font-size: 22px;
                                        text-align: center;
                                        color: #c1c1c1;
                                        line-height: 1.136em;
                                        letter-spacing: 0px;
                                        font-weight: 400;
                                        font-style: italic;
                                        font-family: $text-light-font;
                                        margin-top: 15px;

                                    }

                                    .resp-social-icons {
                                        margin-top: 40px;

                                        .resp-social-list {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;

                                            .resp-social-list-item {
                                                a {
                                                    i {
                                                        width: 35px;
                                                        height: 35px;
                                                        font-size: 17px;
                                                        transition: color .2s ease-in-out, border-color .2s ease-in-out;
                                                        color: #d7d7d7;
                                                        border: 1px solid #5f5f5f;
                                                        padding: 10px;
                                                        font-weight: 500;

                                                        &:hover {
                                                            border-color: #d7d7d7;
                                                        }

                                                    }
                                                }

                                                &:not(:first-child) {
                                                    margin-left: 10px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .collections {
                                    text-align: center;
                                    margin-top: 60px;

                                    .collections-list {
                                        color: $white;
                                        font-family: $text-font;
                                        font-size: 17px;
                                        line-height: 1.353em;
                                        letter-spacing: .075em;
                                        font-weight: 400;

                                        .collections-list-item {
                                            &:nth-child(1) {
                                                margin-top: 10px;

                                            }

                                            &:not(:first-child) {
                                                margin-top: 10px;
                                            }

                                            a {
                                                color: $color-ca;
                                                font-weight: 500;
                                                line-height: 23px;
                                                font-family: $text-light-font;
                                                font-style: italic;
                                                color: #bfbfbf;
                                                font-size: 18px;
                                                transition: .3s;

                                                &:hover {
                                                    color: $white;
                                                }
                                            }
                                        }
                                    }


                                }
                            }


                        }
                        .burger-show{
                            visibility: visible;
                        }

                        // burger open end 

                    }

                    .bag {
                        &:hover .drop-bag {
                            display: block;
                        }
                    }

                }
            }
        }
    }
    .scroll-active{
        top: 0;
    }

}


@media only screen and (max-width: 1200px) {
    header {
        .navigation-bar, .navigation-bar-scroll {
            .container {
                .navbar {
                    .logo {
                        width: 16%;
                    }

                    nav {
                        width: 50%;
                    }

                    .nav-social-list {
                        width: 20%;
                    }
                }
            }
        }


    }
}

@media only screen and (max-width: 992px) {
    header {
        .navigation-bar,.navigation-bar-scroll {
            .container {
                .navbar {
                    .logo {
                        width: 16%;
                    }

                    nav {
                        .nav-list {
                            .nav-list-item {
                                a {
                                    font-size: 10px !important;
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}

@media only screen and (max-width: 768px) {
    header {
        .navigation-bar{
            position: relative;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

            .container {
                padding: 0 30px;

                .navbar {
                    .logo {
                        width: 25%;
                        height: 88px;
                    }

                    .nav-res {
                        width: auto;
                        position: absolute;
                        background-color: #fff;
                        width: 100%;
                        top: 88px;
                        left: -800px;
                        transition: .3s;
                        z-index: 999;

                        .nav-list {
                            padding: 0 30px;
                            flex-direction: column;


                            .nav-list-item {
                                margin-top: 18px;
                                height: auto;

                                a {
                                    font-size: 14px !important;
                                }

                                .drop {
                                    position: absolute;
                                    padding: 23px;
                                    background-color: #fff;
                                    width: 240px;
                                    top: 23px;
                                    transition: .5s;
                                    z-index: 99;

                                    li {

                                        a {
                                            color: $text-color;
                                            font-weight: 500;
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .nav-show {
                        left: 0px;
                    }

                    .nav-social-list {
                        width: 34%;

                        .nav-social-list-item {
                            i {
                                font-size: 25px;
                            }

                            .shop,
                            .wish {
                                left: 28px;
                            }

                            .destkop {
                                display: none;
                            }

                            .phone {
                                display: block;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .drop-bag {
                                width: 280px;
                            }
                            
                        .burger-open {
                           display: none;
                        }
                        }
                    }
                }
            }
        }
        .navigation-bar-scroll{
            display: none;
            .container{
                .navbar{
                    .logo{
                        width: 20%;
                    }
                }
            }
        }


    }
}

@media only screen and (max-width: 460px) {
    header {
        .navigation-bar{
            height: 95px;

            .container {
                .navbar {
                    .logo {
                        width: 33%;
                    }

                    .nav-social-list {
                        width: 42%;

                        .nav-social-list-item {
                            i {
                                font-size: 26px;
                            }

                            .shop,
                            .wish {
                                left: 24px;
                            }

                            // shopping bag start 
                            .drop-bag {
                                padding: 20px;
                                width: 200px;
                                top: 90px;
                                right: -30px;

                                .shopping-bag-list {
                                    .shopping-bag-list-item {

                                        .shopping-bag-link {

                                            .bag-text {
                                                width: 65%;

                                                i {
                                                    font-size: 20px;
                                                }

                                                h3 {
                                                    font-size: 18px !important;
                                                }

                                                .product-price {
                                                    p {
                                                        font-size: 18px;
                                                    }

                                                    span {
                                                        font-size: 18px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                }

                                .only-price {
                                    h4 {
                                        font-size: 10px;
                                    }

                                    p {
                                        font-size: 18px;
                                    }
                                }

                                .bag-buttons {
                                    a {
                                        padding: 8px 14px;
                                        font-size: 6px;
                                    }
                                }
                            }

                            // shopping bag end 
                        }
                    }
                }
            }
        }


    }
}

@media only screen and (max-width: 350px) {
    header {
        .navigation-bar, .navigation-bar-scroll {
            height: 80px;

            .container {
                .navbar {
                    .logo {
                        width: 40%;
                    }

                    .nav-res {
                        top: 80px;
                    }

                    .nav-social-list {
                        width: 47%;

                        .nav-social-list-item {
                            i {
                                font-size: 20px;
                            }

                            span,
                            .wish {
                                font-size: 12px;
                                left: 19px;
                                // top: 13px;
                            }

                            .drop-bag {
                                top: 97px;
                            }
                        }
                    }
                }
            }
        }


    }
}