/* html reset  */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: sans-serif;
}
ul,ol{
list-style-type: none;
}
button{
    border: none;
    outline: none;
}
/* html reset  */