@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
$text-color:#000;
$text-light-color:#cfcfcf;
$white:#fff;
$light-color83:#838383;
$light-colorc4: #c4c4c4;
$color-e5:#E5E5E5;
$color-d1:#d1d1d1;
$color-5a:#5a5a5a;
$color-48:#484848;
$color-ca:#cacaca;
$text-font: 'Lato', sans-serif;
$text-light-font: 'Cormorant', serif;
$default:   'Babylonica', cursive;
$default-font:  'Qwitcher Grypen', cursive;
$number-font:'Amatic SC', cursive;
$purple:#feeae7;